APP_NAME='Yaatal school'
APP_URL=https://api.example.com
APP_ENV=dev
APP_ADMIN_EMAIL=admin@example.com

PUBLIC_ID_SECRET=yaatal_school_secret_salt

SERVER_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_NAME=demo
DB_USER=db_admin
DB_PASSWORD=password

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password

JWT_SECRET=8c2cfcf0ab6ede14b8ce93721f49f79b2d832b491b7f01cf8231c37602031664
JWT_EXPIRATION=604800000
JWT_REFRESH_EXPIRATION=7889472000

MAIL_HOST=smtp.mail.example.com
MAIL_PORT=587
MAIL_USERNAME=no-reply@mail.example.com
MAIL_FROM_ADDRESS="${MAIL_USERNAME}"
MAIL_FROM_NAME="${APP_NAME}"
MAIL_PASSWORD='change-me'
MAIL_PROTOCOL=smtp
MAIL_SMTP_AUTH=true
MAIL_STARTTLS=true
MAIL_DEBUG=false

PAGINATION_LIMIT=25

RESET_PASSWORD_EXPIRATION_MINUTES=15
RESET_PASSWORD_FRONTEND_BASE_URL=https://accounts.example.com
RESET_PASSWORD_FRONTEND_PATH=/complete_reset_password

NOTIFY_CRASH_EMAIL=true
